{% extends 'base.html.twig' %}

{% block title %}Edit LigneCommande{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Modifier</h4>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-4">
                    {{ form_widget(formCom.client)}}
                </div>

                <div class="md-form mb-5">
                    {{ form_widget(form.produit) }}
                </div>

                <div class="md-form mb-4">
                    {{ form_widget(form.qteCom) }}
                </div>

                <div class="md-form mb-4">
                    {{ form_widget(formCom.dateCom) }}
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Modifier</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <a href="{{ path('ligne_commande_index') }}">retour à la liste</a>

{% endblock %}
