{% extends 'base.html.twig' %}

{% block title %}LigneCommande index{% endblock %}

{% block body %}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Ajouter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        {{ form_widget(formCom.client)}}
                    </div>

                    <div class="md-form mb-5">
                        {{ form_widget(form.produit) }}
                    </div>

                    <div class="md-form mb-4">
                        {{ form_widget(form.qteCom) }}
                        <label data-error="wrong" data-success="right" for="">quantité</label>
                    </div>

                    <div class="md-form mb-4">
                        {{ form_widget(formCom.dateCom) }}
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


    <h1>Commandes</h1>
    <a class="btn btn-primary btn-sm " href="" data-toggle="modal" data-target="#modalLoginForm">ajouter</a>
    <table id="dtBasicExample" class="table table-striped table-bordered mt-5" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Numéro commande</th>
                <th>Client</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>CMD{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.commande.client }}</td>
                <td>{{ ligne_commande.produit.libelle }}</td>
                <td>{{ ligne_commande.qteCom }}</td>
                <td>{{ ligne_commande.commande.dateCom ? ligne_commande.commande.dateCom|date('Y-m-d') : ''}}</td>
                <td>
                    <a href="{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}" class="btn btn-default btn-sm">modifier</a>
                    <a href="{{ path('ligne_commande_delete', {'id': ligne_commande.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('voulez vous vraiment effectuez cette suppression?');">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination mt-3">
        {{ knp_pagination_render(ligne_commandes) }}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "paging":   false,
                "info":     false
            });
        });
    </script>
{% endblock %}
