{% extends 'base.html.twig' %}

{% block title %}LigneCommande{% endblock %}

{% block body %}
    <h1>LigneCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_commande.id }}</td>
            </tr>
            <tr>
                <th>QteCom</th>
                <td>{{ ligne_commande.qteCom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_commande_index') }}">back to list</a>

    <a href="{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}">edit</a>

    {{ include('ligne_commande/_delete_form.html.twig') }}
{% endblock %}
