{% extends 'base.html.twig' %}

{% block title %}Hello ErreurController!{% endblock %}

{% block body %}

    <h1 class="text-center">Une Erreur s'est produite! <br/> Verifiez les données que vous essayer de traiter.</h1>
{% endblock %}
