{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Ajouter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        {{ form_widget(form.libelle) }}
                        <label data-error="wrong" data-success="right" for="orangeForm-name">libelle</label>
                    </div>

                    <div class="md-form mb-4">
                        {{ form_widget(form.categorie) }}
                    </div>


                    <div class="md-form mb-4">
                        {{ form_widget(form.qte) }}
                        <label data-error="wrong" data-success="right" for="">quantité</label>
                    </div>

                    <div class="md-form mb-4">
                        {{ form_widget(form.pu) }}
                        <label data-error="wrong" data-success="right" for="orangeForm-name">p.u.</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>




    <h1>Produits</h1>
    <a class="btn btn-primary btn-sm " href="" data-toggle="modal" data-target="#modalLoginForm">ajouter</a>

    <table id="dtBasicExample" class="table table-striped table-bordered mt-5" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Numéro produit</th>
                <th>Libelle</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>PR{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.pu }}</td>
                <td>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-default btn-sm">modifier</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('produit_delete', {'id': produit.id}) }}" onclick="return confirm('voulez vous vraiment effectuez cette suppression?');" >supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination mt-3">
        {{ knp_pagination_render(produits) }}
    </div>

    <script type="text/javascript">
         $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "paging":   false,
                "info":     false
            });
        });
    </script>

{% endblock %}
