<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/mdb.min.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
        {% endblock %}

        <script src="{{ asset('build/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('build/js/popper.min.js') }}"></script>
        <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('build/js/mdb.min.js') }}"></script>
        <script src="{{ asset('build/js/fragg.js') }}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

    </head>
    <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark elegant-color">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">D.Market</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('produit_index') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('client_index') }}">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ligne_commande_index') }}">Commandes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie_index') }}">Catégories</a>
                </li>

            </ul>
            <!-- Links -->
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}


        {% endblock %}
    </body>
</html>
