{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Modifier</h4>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    {{ form_widget(form.libelle) }}
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Modifier</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <a href="{{ path('categorie_index') }}">retour à la liste</a>
{% endblock %}
