{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        {{ form_start(form) }}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Ajouter</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        {{ form_widget(form.libelle) }}
                        <label data-error="wrong" data-success="right" for="orangeForm-name">libelle</label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Ajouter</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


    <h1>Categories</h1>
    <a class="btn btn-primary btn-sm " href="" data-toggle="modal" data-target="#modalLoginForm">ajouter</a>
    <table id="dtBasicExample" class="table table-striped table-bordered mt-5" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Numéro Catégorie</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>CT{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('categorie_edit', {'id': categorie.id}) }}">modifier</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('categorie_delete', {'id': categorie.id}) }}" onclick="return confirm('voulez vous vraiment effectuer cette suppression?');">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination mt-3">
        {{ knp_pagination_render(categories) }}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtBasicExample').DataTable({
                "paging":   false,
                "info":     false
            });
        });
    </script>
{% endblock %}
